@keyframes slide-in {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(150%);
    }
}

#alerts-div {
    z-index: 999;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    gap: 10px;
    padding: 10px;
    width: auto;
}

.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    position: relative;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    overflow: auto;
    word-wrap: break-word;
    white-space: normal;
    animation: slide-in 0.7s forwards;
}

.alert.success {
    background-color: #4caf50;
}

.alert.warning {
    background-color: #e68a20;
}

.alert.error {
    background-color: #d32f2f;
}

.alert-text {
    float: left;
}

.alert-headline {
    font-weight: bold;
}

.alert-message {
    margin-top: 10px;
}

.alert .alert-close-button {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.alert .alert-close-button:hover {
    color: black;
}

.alert a {
    color: #ffeb3b;
}
