html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Pointer cursor for all checkboxes */
input[type='checkbox'] {
    cursor: pointer;
}

/* Pointer cursor for all labels which are assigned for checkboxes */
input[type="checkbox"] + label {
    cursor: pointer;
}

/* Pointer cursor for all selects */
select {
    cursor: pointer;
}

#spinner-div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.flex-container {
    position: relative;
    display: flex;
    height: 100%;
}

.controls-div {
    flex: 1;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow-y: auto;
}

.controls-element {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.controls-box {
    border-bottom: 1px solid #000000;
}

.controls-box:last-child {
    border-bottom: none;
}

.controls-element .label-like {
    margin-bottom: 5px;
    font-weight: bold;
}

.controls-element label {
    margin-bottom: 5px;
    font-weight: bold;
}

.controls-element input, .controls-element select, .controls-element button {
    padding: 8px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    font-size: 14px;
}

.controls-element button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.controls-element button:hover {
    background-color: #0056b3;
}

.disabled-element {
    cursor: not-allowed;
    pointer-events: none;
}

.disabled-element button {
    background-color: #cccccc;
    color: #666666;
}

#available-features-select {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-div {
    flex: 4;
    padding: 10px;
    margin: 10px 10px 10px 0;
}

.checkbox-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.checkbox-div label {
    font-weight: normal;
    align-content: center;
    margin: 0;
}

.mission-filter-button {
    width: 100px;
}

.additional-filters {
    display: none;
    width: 100%;
    background-color: #ede7db;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 0;
    border-radius: 4px;
    margin-top: 15px;
    z-index: 999;
}

.additional-filters label {
    font-weight: normal;
}

.additional-filters.active {
    display: inline;
    padding: 10px;
}

.additional-filters > .filter {
    margin-bottom: 10px;
}

.additional-filters > .filter:last-of-type {
    margin-bottom: 0;
}

/* cancel button on the selected items */
.choices__item--selectable .choices__button {
    padding: 0;
    background-color: #007BFF;
    border: none;
    margin-left: 6px;
    font-size: 1rem;
    cursor: pointer;
}

/* selected items in the ellipses */
.choices__list--multiple .choices__item--selectable {
    background-color: #007BFF;
}

.choices__inner {
    background: none;
    border: none;
}

.choices__input--cloned {
    background: none;
    border: none;
}
